DISCORD_WEBHOOK_URL=
MAINNET_WEBHOOK_URL=
RPC_URL=https://sepolia-rpc.giwa.io
MAINNET_RPC=
MAINNET_EXPLORER=
ANTHROPIC_API_KEY=
BLOCK_BATCH=10
CONSUMER_ONLY=1
WATCH_SITE=https://zilkroad.com
WATCH_INTERVAL=60
